.idea
.vscode/
data
outputs
camera_paths
renders
edited
**/__pycache__
submodules/simple-knn
submodules/tiny-cuda-nn-fp32
submodules/diff-surfel-rasterization
submodules/diff-surfel-rasterization_debug
internal/dataparsers/colmap_cluster_dataparser.py
internal/utils/data_sampler.py
sh_run_large_app2.sh
sh_run1.sh
sh_run2.sh
sh_run3.sh
tools/merge_new_img.py
blender
