*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data
eval
GaussianViewTest
debug
.history
Compact-3DGS-main
plug_in
refine.py
run_gpu*

config/org_ue_aerial_20_block1cam_range.yaml
config/lod_mc_aerial_block3_vox_23.yaml
config/org_mc_aerial_block9_cell9.yaml
config/lod_mc_aerial_block9_v*
config/block_mc_aerial_block_all_lr_c36_loss_5_66.yaml
config/org_mc_aerial_block3_66.yaml
config/org_mc_aerial_block3_prune_distill.yaml
config/org_mc_aerial_block3_prune.yaml
config/dump
