*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data
eval
GaussianViewTest
debug
.history
Compact-3DGS-main
plug_in
refine.py
run_gpu*
notebooks
wandb
bypy_upload.sh
config/dump
config/past
